*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.submit_button{
    background-color: #E55473;
    width: 145px;
    padding: 18px 0px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.headline{
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    color: #272727;
    font-size: 30px;
    margin-bottom: 20px;
}

.para{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: rgba(39, 39, 39, 60%);
}

.text-color{
    color: #E55473;
}

.section_header{
    text-align: center;
    width: 40%;
    margin: auto;
}

.top_header{
    height: 100vh;
    background-color: rgb(229, 84, 115, 10%);
    display: flex;
    justify-content: space-between;
    padding: 30px 180px 0px 180px;
}

.top_header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 515px;
}

.top_header h1{
    font-size: 60px;
    margin-bottom: 32px;
}

.top_header p{
    margin-bottom: 32px;
}

.featured_area{
    width: 75%;
    margin: 178px auto 47px auto;
}

.featured_flowers{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.flowers_slide{
    height: 380px;
    width: 350px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
}

#first_flower{
    background-color: rgb(167, 33, 98, 15%);
    align-items: end;
}

#first_flower img{
    height: 80%;
}

#second_flower{
    background-color: rgb(5, 151, 160, 15%);
    align-items: center;
}

#second_flower img{
    height: 60%;
    margin-top: 55px;
    margin-left: 30px;
}

#third_flower{
    background-color: rgb(71, 125, 17, 15%);
    align-items: end;
}

#third_flower img{
    height: 85%;
    margin-left: 5px;
}

.figcaption{
    margin-top: 32px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.deals{
    background-color: rgb(229, 84, 115, 5%);
    height: 60vh;
    width: 100%;
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.deals article{
    text-align: center;
    margin: 0;
}

.deals article p{
    margin-top: 24px;
    margin-bottom: 32px;
}

.deals img{
    height: 300px;
}

.instagram-section{
    margin: auto;
    margin-top: 128px;
    width: 75%;
}

.instagram-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.instagram-cards img{
    width: 23%;
}

.newsletter{
    margin: auto;
    margin-top: 128px;
    width: 75%;
    height: 449px;
    background-image: url(img/Rectangle_9.png);;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter header{
    margin: 0;
}

.newsletter form{
    width: 100%;
    text-align: center;
}

input{
    width: 50%;
    padding: 18px 18px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-top: 48px;
    margin-right: 16px;
}

footer{
    margin-top: 128px;
    height: 449px;
    background-color: #111010;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-headline{
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 20px;
}

#footer-secondary-text{
    color: rgb(255, 255, 255, 90%);
    margin-bottom: 30px;
}

#rights-reserved{
    color: rgb(255, 255, 255, 40%);
}

.satisfaction-section{
    margin-top: 124px;
    background-color: rgb(229, 84, 115, 5%);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.satisfaction-section article{
    margin: 0;
}

.satisfaction-section img{
    width: 400px;
    margin-left: 30px;
}
ul{
    list-style-type: none;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    padding-left: 120px;
    padding-top: 30px;
}

li{
    margin-top: 20px;
}